@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Roboto:wght@300;400;500;700&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: hsla(210, 34%, 11%, 1);
  color: white;
}

.swiper-scrollbar-drag{
  background-color: white !important;
}

.swiper-scrollbar{
  width: calc( 100% - 2rem ) !important;
  background: hsla(210, 11%, 29%, 1) !important;
}

.swiper-container-horizontal > .swiper-scrollbar{
  left: 0 !important;
}

.swiper-wrapper .swiper-slide:last-child > div:first-child{
  margin-right: 2rem;
}

@media (min-width: 1280px) {
  .swiper-container{
    height: 650px;
  }  
}
@media (max-width: 1280px) {
  .swiper-container{
    height: 650px;
  }
  
}
@media  (max-width: 1024px) {
  .swiper-container{
    height: 620px;
  }
}
@media (max-width: 768px)  {
  .swiper-container{
    height: 580px;
  }
}

@media (max-width: 480px)  {
  .swiper-container{
    height: 580px;
  }
}

@media (max-width: 375px)  {
  .swiper-container{
    height: 590px;
  }
}